$white: #FFFFFF;
$surface: #FFFFFF;
$background: #FEFEFF;
$dark-primary: #282A2E;
$grey-secondary: #77797D;
$grey-secondary-darker: #535558;
$red-accent: #FD5B33;
$red-background: rgba(253, 91, 51, 0.33);