$header-width-desktop: 64px;


$section-padding-mobile: 3rem;
$section-padding-desktop: 15rem;

//Font size
$h1-desktop: 68px;
$h1-mobile: 28px;

$h2-desktop: 48px;
$h2-mobile: 20px;

$h3-desktop: 32px;
$h3-mobile: 16px;

$h-capture-desktop: 18px;
$h-capture-mobile: 12px;

$font-desktop: 16px;
$font-mobile: 12px;