$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);


$header-height: 110px;

$section-padding-mobile: 3rem;
$section-padding-desktop: 15rem;

//Font size
:root {
  --base-fs: 12px;

  --fs-h1: 2.3333rem;
  --fs-h2: 1.6667rem;
  --fs-h3: 1.3333rem;
  --fs-h-capture: 1rem;
  --fs-body: 1rem;
}

@media (min-width: 50em) {
  :root {
    --fs-h1: 5.6667rem;
    --fs-h2: 4rem;
    --fs-h3: 2.6667rem;
    --fs-h-capture: 1.5rem;
    --fs-body: 1.3333rem;
  }
}


:root {
  --section-y-padding: 1rem;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  :root {
    --section-y-padding: 5rem;
  }
}

@media (min-width: map-get($grid-breakpoints, xl)) {
  :root {
    --section-y-padding: 11.5rem;
  }
}